.navbar {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  border-radius:30px;
  background-color: #2475ed;
  color: white;
  padding-left: 380px;
}

.navbar-brand,
.navbar-links a {
  color: white;
  text-decoration: none;
   flex-direction: row;
  align-items: center;
  gap: 40px;
  padding: 8px 36px;
  padding-left: 20px;
}

.navbar-brand {
  font-size: 1.25rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 30px;
  
}

.navbar-links a:hover {
  text-decoration: underline;
}
